.flex {
   display: flex;
}

.flex-center-v {
   display: flex;
   align-items: center;
}

.extra-spacer {
   flex: 1 1 auto;
}

.flex-grid {
   display: flex;
   flex-wrap: wrap;
 
   >* {
     margin: 8px;
   }
 }