.App {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.App-env-label {
  background: rgb(31, 30, 30);
  padding: 0 5px;
  margin: 0 5px;
}