.App {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 50px
}

.App-message-container {
  display: flex;
  color: rgb(255, 255, 255);
  background: rgb(66, 66, 66);
  align-items: center;
  margin: 10px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 4px;
}

.App-message-heading {
  margin: 0;
}

.App-message {
  margin: 0 10px;
}